#head-info{
    width: 420px;
    margin: 250px 0 0 270px;
}

#title{
    font-size: 48px;
    margin-bottom: 20px;
}

#text{
    width: 300px;
    font-size: 14px;
    color: #555555;
    margin-bottom: 40px;
    margin-left: 3px;
}

#btn-join{
    height: 45px;
    width: 280px;
    font-size: 18px;
    background-color: #00BD4D;
    color: white;
    display: block;
    margin: 10px auto;
}

#btn-info{
    height: 45px;
    width: 280px;
    font-size: 18px;
    background-color: #707070;
    color: white;
    display: block;
    margin: 5px auto;
}

