#message-box{
    width: 400px;
    font-size: 16px;
    margin: 5px;
}

::ng-deep .mat-snack-bar-container{
    color: #571515 !important;
    background-color: #edd4d4 !important;
    border-color: #e6c3c3 !important;
}

