<nav>
    <ul>
        <li>
            <a class="nav-item" 
                routerLink="/account/portfolio" 
                routerLinkActive="active"
                (click)="change('/account/portfolio')"
                [ngClass]="{'btn-color': clear('/account/portfolio')}"
                >Portfolio</a>
        </li>
        <li>
            <a class="nav-item" 
                routerLink="/account/charts"
                routerLinkActive="active"
                (click)="change('/account/charts')"
                [ngClass]="{'btn-color': clear('/account/charts')}">Charts</a>
        </li>
        <li>
            <a class="nav-item" 
                routerLink="/account/history"
                routerLinkActive="active"
                (click)="change('/account/history')"
                [ngClass]="{'btn-color': clear('/account/history')}">History</a>
        </li>
        <li>
            <button id="wrap-btn"mat-button [matMenuTriggerFor]="beforeMenu">Hi {{userName}}! 
                <mat-icon id="wrap-icon" aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </li>
    </ul>
</nav>
