
<mat-icon id="icon" aria-hidden="false" aria-label="close icon" (click)="closeDialog()">close</mat-icon>
<div id="dialog-content">
    <div id="question">Do you want extend the session?</div>

    <form [formGroup]="authenticationFormGroup" (ngSubmit)="refreshToken()" id="form-box">
        <div formGroupName="confirmPassword">
            <div id="filed-box">
                <div id="message">Confirm your password:</div>
                <mat-form-field id="password-field">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password"  autocomplete="on">
                </mat-form-field>
            </div>
            <div id="btn-submit-box">
                <button mat-button id="submit-btn" type="submit">Yes, refresh a token</button>
                <button mat-button id="close-btn" (click)="closeDialog()">No, log out of the account</button>
            </div>
        </div>
    </form> 
</div>   

