#portfolio-chart-box{
    background-color: white;
}

#portfolio-chart-title{
    font-size: 25px;
    margin: 25px 80px 20px 80px;
    padding-top: 30px;
}

hr{
    display: block; height: 1px;
    border: 0; border-top: 1px solid #ececec;
    margin: 1em 0; padding: 0; 
}

#chart-container{
    height: 290px;
    width: 90%;
    margin: -30px 0px 50px 50px;
}

#advanced-pie-legend{
    margin-left: 70px;
}